.jumbotron {
  background-color: darkgrey;
}
.jumbotron h1{
  font-family: 'Creepster', cursive;
  font-weight: 700;
  font-size: 50px;
  color: blue;
  text-shadow: -7px 5px 4px white;
}

.jumbotron h1:hover {
  text-align: right;
}

.jumbotron p{
  text-align: center;
}

#yikes{
  font-family: fantasy;
  font-weight: 900;
}

#yikes:hover{
  font-family: 'Creepster', cursive;
  font-size: 25px;
  color: green;

}

#banner {
  margin: 10px auto;
  /* width: 100%; */
  /* height: 575px; */
}

#initially-showing img{
  opacity: 0.05;
  /* margin: 0 auto; */
}

#initially-showing {
  /* margin: 0 auto; */
  /* border: 1px solid black; */
  text-align: center;
  font-size: 11px;
  display: block;
}

.clickable {
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}

.clickable:hover {
  color: darkblue;
  font-family: 'Modak', cursive;
  font-weight: lighter;
  cursor: pointer;
}

.initially-hidden {
  display: none;
  text-align: center;

}

.blackout {
  background-color: black;
  color:white;
}

.dark {
  background-color: black;
  color: #eee;
}

/* .row {
  border: 1px solid black;
  background-color: lightgrey;
} */

.col-md-4 {
  text-align: center;
}

.btn-default {
  border-color: black;
  background-color: white;
}

.whiteout {
  color: #eee;
  background-color: white;
}

.whiteoutimage {
  opacity: 0.15;
}

.blue {
  color: darkblue;
  background-color: lightblue;
}

.red {
  color: darkred;
  background-color: red;
}

footer {
  margin-top: 25px;
  background-color: #eee;
  width: 100%;
  padding: 20px 10px;
}
